In [1]:
import pandas as pd
from faker import Faker
import random as rnd
import matplotlib.pyplot as plt
import json

In [2]:
FK = Faker("es_ES")

In [3]:
def genName():
    name = FK.first_name()
    lastName = FK.last_name()
    surName = FK.last_name()
    return name, lastName, surName

def genIBAN():
    iban = FK.iban()
    return iban

def genEmail():
    mail = FK.email()
    return mail

def genPhone():
    phone = FK.phone_number()
    return phone.replace(" ", "")

def genIncome():
    ranges = [0.0318, 0.1694, 0.3627, 0.5251, 0.6908, 0.8031, 0.9596, 1.000]
    values = [0, 500, 1000, 1500, 2000, 2500, 3000, 5000, 10000]
    random = rnd.random()
    if random < ranges[0]:
        income = rnd.randint(0, 499)
    elif random < ranges[1]:
        income = rnd.randint(500, 999)
    elif random < ranges[2]:
        income = rnd.randint(1000, 1499)
    elif random < ranges[3]:
        income = rnd.randint(1500, 1999)
    elif random < ranges[4]:
        income = rnd.randint(2000, 2499)
    elif random < ranges[5]:
        income = rnd.randint(2500, 2999)
    elif random < ranges[6]:
        income = rnd.randint(3000, 4999)
    else:
        income = rnd.randint(5000, 10000) 

    return income

def genChildren():
    ranges = [0.3269, 0.6765, 0.9463]
    values = [0, 1, 2, 3]
    random = rnd.random()
    if random < ranges[0]:
        children = values[0]
    elif random < ranges[1]:
        children = values[1]
    elif random < ranges[2]:
        children = values[2]
    else:
        children = values[3]

    return children

def genDNI():
    dni = FK.nif()
    return dni

def genPassword():
    password = FK.password()
    return password

In [4]:
collection = []
for i in range(200):
    name, lastName, lastLastName = genName()
    iban = genIBAN()
    email = genEmail()
    phone = genPhone()
    income = genIncome()
    children = genChildren()
    ID = genDNI()
    password = genPassword()

    collection.append({"Name":name, 
                       "LastName":lastName,
                       "LastLastName":lastLastName,
                       "IBAN":iban,
                       "Email":email,
                       "Phone":phone,
                       "Income":income,
                       "Children":children,
                       "ID":ID,
                       "Password":password})

In [6]:
pd.DataFrame(collection)

,Name,LastName,LastLastName,IBAN,Email,Phone,Income,Children,ID,Password
0,Baudelio,Haro,Enríquez,ES3237369745735936535824,saezjose@yahoo.com,+34923918283,2496,0,08737931R,x&8EHuMs0U
1,Leonardo,Coca,Tapia,ES7787075008107119017223,tcarrion@gmail.com,+34816873822,239,0,13978945M,ecP8EXyo6^
2,Leandro,Miranda,Rueda,ES7778513459899541220585,martirio77@barreda-sanmiguel.com,+34860929423,2350,2,44689568Q,61JPia&3@5
3,Jose Miguel,Armengol,Pozuelo,ES1947005665953899091780,cbarbero@amores.es,+34816591005,744,2,09310034W,$ALAUok7o0
4,Camilo,Sierra,Pelayo,ES1742385584078115536462,carrenoalexandra@pablo.es,+34711209887,9932,1,03999136B,b2VZYY3k&T
...,...,...,...,...,...,...,...,...,...,...
195,Jordi,Gilabert,Losada,ES2837880559496904113703,zmacias@pacheco.com,+34894049028,2435,1,88432413N,!a9GjnWfS$
196,Natalio,Merino,Palomares,ES3680930278293669242449,fbanos@hotmail.com,+34720932533,1068,1,53278374R,%WUB#w!2%4
197,Anunciación,Badía,Nadal,ES4974350864841450382806,pelayo87@yahoo.com,+34742399790,2589,1,20935539L,$x3_LFlI(Y
198,Fito,Mínguez,Cal,ES2972950129498357054381,manceboadalberto@recio-cano.com,+34609126526,1398,2,50279353L,+EHBTqwc7!
199,Javier,Alegre,Hierro,ES0695749373086409928601,xbosch@castello.net,+34690832675,1767,0,88455146K,U@T9Q7nvw*

In [7]:
#with open("bankBDD.json", "w") as outfile:
    #json.dump(collection, outfile)